@import "~normalize.css";
@import "roboto.css";

body {
    font-family: "Roboto", sans-serif;
    color: #FFF;
    background-color: #0D1117;
}

.container {
    max-width: 1000px;
    padding-top: 2rem;
    margin: 0 auto;
    padding-bottom: 2rem;
}

h1 {
    text-align: center;
}

.logo {
    background-image: url("../assets/webpack-logo.png");
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.code {
    color: coral;
}